html, body{
  font-family: 'Alata', sans-serif;
}
.navbutton{
  cursor:pointer;
  font-size: 32px;
}
select, button {
  padding:10px;
  margin:10px auto auto auto;
  display:block;
  cursor:pointer;
  font-family: 'Alata', sans-serif;
  font-size: 14px;
}
.insidenav{
  position: absolute;
  top: 0;
  left: 0;
  right: 25px;
  margin-left: 50px;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: white;
}
.insidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}
.insidenav a:hover{
  text-decoration:underline;
  transition: .2s ease-in-out;
  transform: scale(1.1);
}
.closenav{
  cursor:pointer;
}
#country, #state{
  width:150px;
}
#circle{
  font-size: 34px;
  height:200px;
  width:200px;
  margin:auto;
  border-radius: 50%;
  background-color:transparent;
  border: 1.5px solid grey;
  text-align: center;
  line-height:120px;
}
.text-wrapper{
  padding:30px;
}

#state_name{
  margin:auto;
  text-align: center;
  padding:20px;
}
#hide_count{
  margin:auto;
  text-align: center;
  padding:20px;
  display:none;
}
#hide_count h1,h3{
  line-height:0px;
}
.placeholder{
  max-width: 100%
}
._link{
  display:none;
  transition:0.3s;
  color: green;
}
._link2{
  color: green;
  transition:0.3s;
}
._link:hover, ._link2:hover{
  transform:scale(1.1);
  transition: .2s ease-in-out;
  color:pink;
}
#state{
  display:none
}
