html, body{
  font-family: 'Alata', sans-serif;
}
.navbutton{
  cursor:pointer;
  font-size: 40px;
}
select, button {
  padding:10px;
  margin:10px auto auto auto;
  display:block;
  cursor:pointer;
  font-family: 'Alata', sans-serif;
  font-size: 14px;
}
.insidenav{
  position: absolute;
  top: 0;
  left: 0;
  right: 25px;
  margin-left: 50px;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: white;
}
.insidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}
.insidenav a:hover{
  text-decoration: underline;
  transition: .2s ease-in-out;
  transform: scale(1.1);
}
.closenav{
  cursor:pointer;
}
#country, #state{
  width:150px;
}
#circle{
  font-size: 34px;
  height:200px;
  width:200px;
  margin:auto;
  border-radius: 50%;
  background-color:transparent;
  border: 1.5px solid grey;
  text-align: center;
  line-height:120px;
}
.text-wrapper{
  padding:30px;
}

#state_name{
  margin:auto;
  text-align: center;
  padding:20px;
}
#hide_count{
  margin:auto;
  text-align: center;
  padding:20px;
  display:none;
}
#hide_count h1,h3{
  line-height:0px;
}

img{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
._link, ._link2{
  display:none;
  transition:0.3s;
  color: green;
}
.left_link, .right_link{
  transition:0.3s;
  color: green;
}
._link:hover, ._link2:hover, .left_link:hover, .right_link:hover{
  transform:scale(1.1);
  transition: .2s ease-in-out;
  /*Change this color*/
  color:pink;
}
#state{
  display:none;
}

/*When screen is smaller that 700px, change below will apply*/
@media screen and (max-width: 700px) {
  img{
    width:100%;
  }
  #hide_count h1,h3{
    line-height: normal;
  }
  ._link,._link2, .right_link, .left_link{
    width:100%;
    text-align: center;
    padding:3px;
  }
  #message{
    width:100%;
    text-align: center;
  }
  .text-wrapper{
    padding:30px;
    width:90%;
  }
    }
